<div class="details-page__wrapper" [ngClass]="{'details-page__wrapper-dark': this.localStorage.isDarkMode()}">
	<div class="background-gradient__circle" [ngClass]="{'background-gradient__circle-dark': this.localStorage.isDarkMode()}"></div>
	<svg class="back__button" routerLink="" viewBox="4085 152 98.5 126" tabindex="0">
		<defs>
			<style>
				.a {
					fill: #2b244d;
				}

				.b {
					fill: rgba(0, 0, 0, 0);
				}

				.b,
				.c {
					stroke: #fff;
					stroke-width: 2px;
				}

				.c {
					fill: none;
				}

				.d {
					fill: #fff;
					font-size: 15px;
					font-family: SegoeUI, Segoe UI, sans-serif;
					letter-spacing: 0.4em;
				}
			</style>
		</defs>
		<g transform="translate(3980)">
			<circle class="a" cx="39" cy="39" r="39" transform="translate(105 152)"></circle>
			<line class="b" transform="translate(123.5 190.5)" x1="80"></line>
			<line class="b" transform="translate(123.5 164.5)" x2="26" y1="26"></line>
			<line class="c" transform="translate(123.5 190.5)" x1="26" y1="27"></line>
			<text class="d" transform="translate(117 274)">
				<tspan x="0" y="0">BACK</tspan>
			</text>
		</g>
	</svg>
	<section class="main-weather__card">
		<section class="card-header__container-dark" [ngSwitch]="true">
			<img class="city__illustration" [src]="cityIllustrationPath" />
			<div class="header-content__wrapper">
				<div class="today-weather__container">
					<!--{{today}}-->
					<div class="temp-state__container">
						<span class="temperature__text">{{temp}}°</span>
						<span class="weather-state__text">{{state}}</span>
					</div>
					<div class="hum-wind__container">
						<div class="hum__container">
							<span class="hum__text">humidity</span>
							<span class="hum-value__text">{{hum}} %</span>
						</div>
						<div class="hum-wind__separator">&nbsp;</div>
						<div class="wind__container">
							<span class="wind__text">wind</span>
							<span class="wind-value__text">{{wind}} K/M</span>
						</div>
					</div>
				</div>
				<div class="city-name__container">
					<div class="city-name__underline">
						<span class="city-name__text">{{city}}</span>
					</div>
				</div>
			</div>
		</section>
		<main class="body-content__wrapper">
			<section class="forecast__container">
				<div class="day-weather__container" *ngFor="let day of daysForecast | keyvalue">
					<span class="day-name__text">{{day.value.weekDay}}</span>

					<div class="weather-icon__container" [inlineSVG]="day.value.stateIconPath" [cacheSVG]="true" [setSVGAttributes]="{'height': '4rem'}">
					</div>
					
					<span class="day-temp__text">{{day.value.temp}}°</span>
					<span class="day-state__text">{{day.value.state}}</span>
				</div>
			</section>
		</main>
	</section>
</div>

<app-error [message]="errorMessage"></app-error>