<!-- Slide Menu-->
<aside class="side-menu__container" [ngClass]="{'side-menu__container-active': showMenu}" (click)="toggleMenu()">
  <nav class="slide-menu" [ngClass]="{'slide-menu-active': showMenu, 'slide-menu-active-dark': this.localStorage.isDarkMode()}"
    (click)="$event.stopImmediatePropagation();">
    <section class="menu-header" [ngClass]="{'menu-header-dark': this.localStorage.isDarkMode()}">
      <app-logo></app-logo>

      <div class="mode-toggle__container">
        <span class="mode-toggle__text">Light</span>

        <label class="toggle-button__container" for="mode-toggle__input">
          <input (click)="modeToggleSwitch()" type="checkbox" class="mode-toggle__input" id="mode-toggle__input" />
          <span [ngClass]="{'mode-toggle__bg-checked': this.localStorage.isDarkMode()}" class="mode-toggle__bg"></span>
          <span [ngClass]="{'mode-toggle__circle-checked': this.localStorage.isDarkMode()}" class="mode-toggle__circle"></span>
        </label>

        <span class="mode-toggle__text">Dark</span>
      </div>
    </section>

    <section class="menu-body">
      <ul class="menu-links" [ngClass]="{'menu-links-dark': this.localStorage.isDarkMode()}">
        <li class="menu-link" [routerLinkActiveOptions]="{exact:true}" routerLink="" routerLinkActive="link-active"
          (click)="toggleMenu()">Home</li>
        <li class="menu-link" [routerLinkActiveOptions]="{exact:true}" routerLink="/add" routerLinkActive="link-active"
          (click)="toggleMenu()">Add City</li>
      </ul>
    </section>

    <section class="menu-footer" [ngClass]="{'menu-footer-dark': this.localStorage.isDarkMode()}">
      <small class="footer__text">Copyright © 2019 vWeather</small>
      <small class="footer__text">-> <a href='https://github.com/hamedbaatour/minimus'>Minimus</a> fork</small>
    </section>
  </nav>
</aside>

<main class="root__container" [ngClass]="{'root__container-dark': this.localStorage.isDarkMode()}">
  <header class="main__header" [ngClass]="{'main__header-dark': this.localStorage.isDarkMode()}">
      <svg (click)="toggleMenu()" class="hamburger__icon" id="Menu_Burger_Icon" data-name="Menu Burger Icon"
        viewBox="31.5 30 49.9 32">
        <rect id="Rectangle_9" width="49.9" height="4" [ngClass]="{'hamburger__icon__fill-dark': this.localStorage.isDarkMode()}"
          class="hamburger__icon__fill" data-name="Rectangle 9" rx="2" transform="translate(31.5 58)"></rect>
        <rect id="Rectangle_10" width="49.9" height="4" [ngClass]="{'hamburger__icon__fill-dark': this.localStorage.isDarkMode()}"
          class="hamburger__icon__fill" data-name="Rectangle 10" rx="2" transform="translate(31.5 44)"></rect>
        <rect id="Rectangle_11" width="49.9" height="4" [ngClass]="{'hamburger__icon__fill-dark': this.localStorage.isDarkMode()}"
          class="hamburger__icon__fill" data-name="Rectangle 11" rx="2" transform="translate(31.5 30)"></rect>
      </svg>

      <app-logo></app-logo>
  </header>

  <!-- Main Content -->

  <div class="main-container__bg">
    <router-outlet></router-outlet>
  </div>


</main>